# .NET Core
bin/
obj/
logs/
*.log
appsettings.Development.json
appsettings.*.json

# Node / React
node_modules/
dist/
build/
.env
.env.*
# IDE / Temp
.vs/
.vscode/
*.bak
*.user
scratch/
patch.js
*-20260808T*
